{{!-- {{outlet}}

<form class="add-reminder-form" {{action 'addReminder' on="submit"}}>
  <label>
    Title:
    {{input class='title-input' type='text' value=title}}
  </label>
  <label>
    date
    {{input class='date-input' type='text' value=date}}
  </label>
  <label>
    Notes:
    {{input class='notes-input' type='text' value=notes}}
  </label>
    Submit:
  {{input class="add-reminder-btn" type='submit'}}
</form> --}}
