<div class='left'>
  <h1 class='project-title'>remEMBER</h1>

  {{outlet}}

  {{#link-to 'reminders.add-reminder'}}
    <button class='spec-add-new'>Add New Reminder</button>
  {{/link-to}}

  {{#if model}}
    {{#each model as |reminder|}}
      <div class='reminder'>
        {{#link-to 'reminders.reminder' reminder.id class='link'}}
          {{#if reminder.hasDirtyAttributes}}
            <h3 class='spec-reminder-title dirty-deeds'>{{reminder.title}}</h3>
          {{else}}
            <h3 class='spec-reminder-title'>{{reminder.title}}</h3>
          {{/if}}
        {{/link-to}}
        <p class='spec-reminder-date'>{{reminder.date}}</p>
        <p class='spec-reminder-notes'>{{reminder.notes}}</p>
      </div>
    {{/each}}
  {{else}}
    <p class='user-message'> You have no reminders. Please add some! </p>
  {{/if}}
</div>
